<p style="color: green"><%= notice %></p>
<p style="color: green"><%= notice %></p>
<h1 style="text-align:center"> Products </h1>
<div class="overflow-x-auto relative">
<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
    <th scope="col" class="py-3 px-6">Product name</th>
    <th scope="col" class="py-3 px-6">Color</th>
    <th scope="col" class="py-3 px-6">Category</th>
    <th scope="col" class="py-3 px-6">Price</th>
    </tr>
    </thead>
    <tbody> 
      <% @products.each do |product| %>
        <td scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <%= product.name %>
        </td>
        <td class="py-4 px-6">
        <%= link_to "Show this product", product %>
        </td>
        <td class="py-4 px-6">
        <%= link_to "New product", new_product_path %>
        </td>
        <td class="py-4 px-6">
        <%= product.price %>
        </td>
        </tbody>
     <% end %>
 </table>
</div>


<% @products.each do |product| %>

<%= link_to "New product", new_product_path %>
<% end %>